<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask me?" class="form-control form-control-lg" type="text" aria-label=".form-control-lg example">
  <input type="submit">
</form>